.terminologyManager__searchPane {
  width: 100%;
  height: 100%;

  &__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input[type="text"] {
      width: 350px;
    }
  }

  &__results {
    overflow: scroll;
    width: 100%;
    height: 100%;

    .bp3-html-table {
      overflow: scroll;
      width: 100%;
    }
  }
}

.terminologyManager__valueSetExpansion {
  height: 80vh;
  width: 60vw;
  overflow: scroll;
}
